

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin:auto;
    
    background-color: #b7b5a2;
    color: #272624;
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 14
} */


#app {
    background-image: url("/src/assets/swirl.svg");
    /* transform: rotate(30deg); */
    max-width: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    margin:auto;
    min-height: 750px;
    background-color: #f1f0e6;
    /* padding: 30px; */
    margin-top: 40px;
    border-radius: 25px 25px 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



#add-todo-btn {
    border-radius: 25px;
    width:40px;
    height: 40px;
    margin: 40px 0 40px 10%;
    background-color: #272624;
    color: #f1f0e6;
    border: none;

}



#app-logo {
    letter-spacing: .075em;
    padding: 10% 10% 0 10%;

}


/* PROJECT-TODO-LIST DIV STYLES */



#projectHeader {
    height:55px;
    border-radius: 0 0 25px 25px;
    background-color:#3e3d3b;
    
    
    margin: auto;
    max-width: 400px;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .075rem;
    padding-bottom: 5px;
}

#projectHeader>div {
    padding-top:12px;
    font-size: 1.15rem;
    font-weight:100;
    letter-spacing: .035rem;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    color:#b7b5a2;
}

#projectHeader>div>button {
     font-size: 1.15rem;
    font-weight:100;
    letter-spacing: .035rem;;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    color:#b7b5a2;
}




#project-list-button{
    align-self: center;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    
}

#project-list-span{
    background-color: transparent;
    border: none;
    outline:none;
    color:#b7b5a2;
}



#project-todo-list {
    width: 80%;
    margin: auto;

}

.project:first-of-type {
    margin-top: 20px;

    
}


.project>h2 {
    text-align: center;
    vertical-align: center;
    height:45px;
    border-radius: 25px;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .025rem;
    vertical-align: center;
    

  
}

.project-title{
    display: flex;
    justify-content: center;
    align-items: center;
}


.todo-ul {
    margin-top: 10px;
    margin-left:20px;
    padding-bottom: ;
    border-bottom: 1px solid black;
    font-size: .9rem;
    display: flex;

}

#todo-name-div~button{
    outline: none;
    border: none;
    background-color: transparent;

}

#todo-edit-btn {
   padding-left: 70px;
   padding-right: 15px;
}

.project ul {
    list-style: none ;
}
.project-title:hover {
    background-color: #202222;
    cursor: pointer;
    /* background-color: #b7b5a2; */
    background-color: #deddd3;

    
}
.active {
    color: #272624;
    background-color: #Ebff57;
    border-radius: 25px;
    align-self: center;
    border: none;
    margin-top: 20px;;

}



/* TODO FORM STYLES*/

#todo-form {
    background-color: #3e3d3b;
    width: 100%;
    padding: 10%;
    color: #f1f0e6;
    font-weight: 200;
    letter-spacing: .025rem;
}

#todo-form-container {
    width: 100%;
    
}   

.todo-form-flex {
    display: flex;
    gap:10px;
    font-size: .9em;
    align-items: center;
}

#todo-title, #todo-description {
    background-color: #3e3d3b;
    border: none;
    margin-bottom: 10px;
    width: 100%;  
    color:white; 

}

#todo-priority {
    background-color: #f1f0e6;
    color: #3e3d3b;
    outline: none;
    border: none;
    height: 30px;
    padding: 0 10px 0 10px;
    border-radius: 25px;
}

#todo-due-date {
    background-color:#f1f0e6 ;
    color: #3e3d3b;
    outline: none;
    border: none;
    height: 30px;
    padding: 0 10px 0 10px;
    border-radius: 25px;
}

#todo-form input:focus, #todo-form textarea:focus, #todo-form select:focus {
    outline: none;
}

#todo-form input:before {
    content: "";
    
}

input::placeholder, textarea::placeholder {
    color:white;
    padding-left: 5px;
}


#todo-completed {
    margin-right: 200px;
}

.todo-form-flex button {
    background-color: transparent;
    border-radius: 50%;
    width:30px;
    height: 30px;
    border: none;
    font-size: 1.25rem;
}


#todo-buttons {
    display: flex;
    align-items: center;
}

#todo-new {
    background-color: #Ebff57;
    border-radius: 25px;
    color: #272624;
    padding: 0 10px 0 10px;
    align-self: center;
    font-size: .8rem;
    font-weight: 300;
    height: 30px;
    display: flex;
    align-items: center;
}

#cancel-todo {
    min-width: fit-content;
    border-radius: 25px;
    font-size: .85rem;
    font-weight: 100;
    height: 30px;
    padding: 0 10px 0 10px;
    color: #9b9988;
    background-color: transparent;
    border: 1px solid #b7b5a2;
    letter-spacing: .05rem;
}


#todo-status-div {
    display: flex;

}

#todo-status-div>button {
        background-color: none;

}


#add-project-form {
    width:100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


#todo-new {
    background-color: #Ebff57;
    border-radius: 25px;
    color: #272624;
    padding: 0 10px 0 10px;
    align-self: center;
    font-size: .8rem;
    font-weight: 300;
    height: 30px;
    display: flex;
    align-items: center;
}



/* #todo-submit-btn {
    background-color: green;
} */

#todo-new>button {
    width:fit-content;
    font-size: .95rem;
    letter-spacing: .025rem;
}

#add-project-form{
    display: none;
}


#add-project-form {
    justify-content: center;
    position: relative;
    top: -20px;
    height:30px;
    align-items: center;
    gap:10px;
    background: #3e3d3b;
    border-radius: 0 0 25px 25px;
    z-index:4;
    border:none;

} 


#add-project-form input {
    border:none;
    background-color: transparent;
    color:white;
}

#add-project-form input:focus {
    outline: none;
}

#add-project-form input:before {
    content: "";
    
}

#add-project-form input::placeholder, textarea::placeholder {
    color:#f1f0e6;
    padding-left: 5px;
}

#project-name {
    padding-top:15px;
}

#project-name ~ button{
    border:none;
    background-color: transparent;
    margin-top:15px;
    color: #f1f0e6;
    font-size: .9rem;
    font-weight: 200;
    border-radius: 25px;
    border: 1px solid #9b9988;
    padding: 8px 15px 8px 15px;


}

#project-name ~ button:hover {
    background-color: #b7b5a2;
    border: transparent;
    color: #3e3d3b;
}